<!-- header information -->

<div class="main_header">
 	<div style="align-content: center;padding-left: 25%;font-size: 15px;">
  			<b>Plataforma del ONDTyD para gestionar planes de datos científicos (PGD - ONDTyD)</b><br>
    </div>
	<div class="header_left">
        <div class="home_logo">
            <%= link_to( image_tag("banner.jpg"), root_path)%>
            <!--%= link_to( image_tag("logo.jpg"), root_path)%-->
            <!--%= link_to( image_tag("logo_obs.png", style:"max-width:none;"), root_path)%-->
            <!--%= link_to( image_tag("logocaicyt.jpg", style:"max-width:none;height:70px;float:right;margin-top:20px;margin-right:10px;"), root_path)%-->
        </div>
    </div>
    <div class="header_right">
        <div class="org_branding">
             <%= render "layouts/dmponline_org_branding" %>
        </div>

        <div class="signin_signout_header_link">
             <%= render "layouts/dmponline_signin_signout" %>
        </div>
        <div class="main_navigation">
            <%= render "layouts/dmponline_navigation" %>
        </div>
    </div>
</div>
